.userTable {
  width: 60%;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px;
}

.addButton {
  text-decoration: none;
  background-color: green;
  color: white;
  font-weight: 500;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  padding: 10px;
}

.userTable table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.userTable table thead th {
  background-color: darkblue;
  color: white;
  padding: 10px;
}

.userTable table {
  padding: 10px;
  text-align: center;
}

.btn {
  border: 0;
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
}

.addBtn {
  background-color: green;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
}

.addBtn:hover {
  background-color: darkgreen;
}

.editBtn {
  outline: none;
  background: blue;
  color: white;
  border-radius: 5px;
  padding: 5px 17px;
}

.editBtn:hover {
  background-color: darkblue;
}

.deleteBtn {
  outline: none;
  background: red;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.deleteBtn:hover {
  background-color: darkred;
}
